{% if settings['form-type'] == "form-inline" %}
<div class="{{ settings['form-type'] }}">
	
	<div class="form-group">
		<label for="{{ settings['name'] }}">{{ settings['label'] }}</label>
		<input type="{{ settings['type'] }}" class="form-control" id="{{ settings['name'] }}" name="{{ settings['name'] }}" placeholder="{{ settings['placeholder'] }}">
	</div>
	
	
</div>
{% elseif settings['form-type'] == "form-horizontal" %}
<div class="{{ settings['form-type'] }}">
	<div class="form-group">
		<label for="{{ settings['name'] }}" class="col-sm-2 control-label">{{ settings['label'] }}</label>
		<div class="col-sm-10">
			<input type="{{ settings['type'] }}" class="form-control" id="{{ settings['name'] }}" name="{{ settings['name'] }}" placeholder="{{ settings['placeholder'] }}">
		</div>
	</div>
</div>
{% endif %}
