


<div class="clearfix"></div>

<div class="panel panel-fixed" style="margin-top:3px;">
	<div class="panel-body">
		<section class="row-preview" id="mockup-rows">
			{% for key,row in columns %}
				<h3>{{ key }}</h3>
				{% for columns in row %}
					<div class="row" data-draggable='{% for cols in columns %}<div class="col-{{ size }}-{{ cols }} content-area"></div>{% endfor %}'>
						{% for cols in columns %}
							<div class="col-xs-{{ cols }}">{{ cols }}</div>
						{% endfor %}
					</div>
				{% endfor %}
			{% endfor %}
		</section>
		
	</div>
	<div class="panel-footer"  style="padding:0;">
			<div class="btn-group btn-group-justified" data-toggle="buttons">
				<label class="btn btn-default {% if size=="xs" %}active{% endif %}">
					<input type="radio" name="row-size-btns" autocomplete="off" value="xs" {% if size=="xs" %}checked="checked"{% endif %}>XS
				</label>
				<label class="btn btn-default {% if size=="sm" %}active{% endif %}">
					<input type="radio" name="row-size-btns" autocomplete="off" value="sm" {% if size=="sm" %}checked="checked"{% endif %}>
					SM
				</label>
				<label class="btn btn-default {% if size=="md" %}active{% endif %}">
					<input type="radio" name="row-size-btns" autocomplete="off" value="md" {% if size=="md" %}checked="checked"{% endif %}>
					MD
				</label>
				<label class="btn btn-default {% if size=="lg" %}active{% endif %}">
					<input type="radio" name="row-size-btns" autocomplete="off" value="lg" {% if size=="lg" %}checked="checked"{% endif %}>
					LG
				</label>
			</div>
	</div>
</div>







